.sidenav
    width: 10%
    height: 100%
    position: fixed
    background-color: #18529D
    z-index: 1
    top: 0
    left: 0
    overflow-x: hidden
    padding-top: 20px

.sidenav a
    padding: 1rem
    text-decoration: none
    font-size: 25px
    color: #ffffffff
    display: block
    &:hover
        color:#14a354
        background-color: #ffff 
    
.sidenav a i
    size: 5px


.menu
    background-color: #18529D
    padding: 1rem
    position: absolute
    top: 0
    width: 100%

.menu a i
    size: 5px
    padding: .2rem
    color: #ffffff
    
.loadin
    border: 16px solid #f3f3f3
    border-top: 16px solid #3498db
    border-radius: 50%
    width: 120px
    height: 120px
    animation: spin 2s linear infinite
    position: absolute
    top: 50%
    left: 50%
    bottom: 50%
    margin-top: 200px
    z-index: 500
    display: none

.btn-groud-uv
    position: absolute !important
    top: 25px
    left: 99%
    width: 150%
    margin: 1%
   

    



